@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Julius Sans One", sans-serif;
}

.main-title-box {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main-title {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
